[Unit]
Description=Minecraft Bedrock Server Update

[Service]
Environment=THIS_USERNAME=i9wa4
Type=oneshot
WorkingDirectory=/home/${THIS_USERNAME}/Minecraft/minecraft-bedrock-server-setup/
ExecStart=bash bin/update.sh

[Install]
WantedBy=timers.target
