[Unit]
Description=Minecraft Bedrock Server Backup to Cloud

[Service]
Envirnment=THIS_USERNAME=i9wa4
Type=oneshot
ExecStart=bash /home/${THIS_USERNAME}/Minecraft/minecraft-bedrock-server-setup/bin/aws-s3-copy.sh

[Install]
WantedBy=timers.target
