[Unit]
Description=Minecraft Bedrock Server Update

[Service]
EnvironmentFile=/docker/minecraft-bedrock-server-setup/.env
User=${USERNAME}
Group=${USERNAME}
Type=oneshot
WorkingDirectory=${DIR_REPO}/bin
ExecStart=${DIR_REPO}/bin/update.sh

[Install]
WantedBy=timers.target
