[Unit]
Description=Minecraft Bedrock Server Backup to Cloud

[Service]
Type=oneshot
ExecStart=bash Minecraft/minecraft-bedrock-server-setup/bin/aws-s3-copy.sh

[Install]
WantedBy=timers.target
