[Unit]
Description=Minecraft Bedrock Server Backup

[Service]
EnvironmentFile=/docker/minecraft-bedrock-server-setup/.env
User=${MY_USERNAME}
Group=${MY_USERNAME}
Type=oneshot
WorkingDirectory=${DIR_REPO}/bin
ExecStart=${DIR_REPO}/bin/backup.sh

[Install]
WantedBy=timers.target
