[Unit]
Description=Minecraft Bedrock Server Backup

[Service]
User=i9wa4
Group=i9wa4
Type=oneshot
WorkingDirectory=/docker/minecraft-bedrock-server-setup/bin
ExecStart=/docker/minecraft-bedrock-server-setup/bin/backup.sh

[Install]
WantedBy=timers.target
