[Unit]
Description=Minecraft Bedrock Server Backup

[Service]
Environment=THIS_USERNAME=i9wa4
Type=oneshot
ExecStart=bash /home/${THIS_USERNAME}/Minecraft/minecraft-bedrock-server-setup/bin/backup.sh

[Install]
WantedBy=timers.target
