[Unit]
Description=Minecraft Bedrock Server Backup to Cloud

[Service]
Type=oneshot
ExecStart=bash mbs/minecraft-bedrock-server-setup/bin/backup-to-cloud.sh
